<% content_for :functional_nav do%>
	<li><%= link_to 'Show', @race %></li>	
	<li><%= link_to 'Back', races_path %></li>
<% end %>
<%= currently_at 'Races'%>
<h1>Editing race</h1>

<%= render 'form' %>


