<% content_for :functional_nav do%>
<li><%= link_to 'Show', @driver %></li>
<li><%= link_to 'Back', drivers_path %></li>
<% end %>
<%= currently_at 'Drivers'%>

<h1>Editing driver</h1>

<%= render 'form' %>


